body{
    background-color: #88BDCB;
    font-family: 'Chivo Mono', monospace;
    color: black;
}

.headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.kiiras{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 50%;
    margin-left: 25%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}